body {
    font-family: 'Lato', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #3a4a6a, #1b3a6d);
    color: white;
    text-align: center;
    padding: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

header h1 {
    font-size: 2rem;
    margin: 0;
    line-height: 1.2;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.redes-sociales-lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-top: 10px;
}

.redes-sociales-lista a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.redes-sociales-lista a img:hover {
    transform: scale(1.1);
}

main {
    padding: 2rem;
}

section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    color: #1b3a6d;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem 0;
}

.radio-item {
    display: flex;
    align-items: center;
}

.radio-item input[type="radio"] {
    margin: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.radio-item label {
    margin-left: 10px;
    line-height: 20px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem 0;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.checkbox-item input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.checkbox-item label {
    margin-left: 10px;
    line-height: 20px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 0.5rem;
}

input, textarea, button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #fcbf49;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffcc33;
}

footer {
    background: linear-gradient(90deg, #3a4a6a, #1b3a6d);
    color: white;
    text-align: center;
    padding: 1rem;
}
    